html {
    margin:0;
    padding:0;
}
body {
    margin:0;
}
h2, p {
    width:500px;
    padding:0;
    margin:0;
}
.p1 {
    font-size:1.2em;
}
#db_img, #list_img, #upload_img, #detail_img, #socket_img {
    width:1450px;
    margin:0 auto;
}
/********************/
#db {
    margin:0 auto;
    padding-top:50px;
    width:100%;
}
#db_detail {
    width:600px;
    padding:20px 0 20px 1000px;
}
/********************/
#list {
    margin:0 auto;
    padding-top:50px;
    width:100%;
    background-color:#FEE5E9;
}
#list_detail {
    width:600px;
    padding:20px 0 20px 1000px;
}
/********************/
#upload {
    margin:0 auto;
    padding-top:50px;
    width:100%;
    height:650px;
}
#upload_detail {
    width:600px;
    padding:20px 0 20px 1000px;
}
/********************/
#detail {
    margin:0 auto;
    padding-top:50px;
    width:100%;
    height:790px;
    background-color:#FAFAFA;
}
#detail_detail {
    width:600px;
    padding:20px 0 20px 1000px;
}
/********************/
#socket {
    margin:0 auto;
    padding-top:50px;
    width:100%;
    background-color:aquamarine;
}
#socket_detail {
    width:600px;
    padding:20px 0 20px 1000px;
}


/********************/

#db_one {
    width:430px;
    padding:0 30px;
}
#db_two {
    width:910px;
}
#list_one {
    width:550px;
    padding:0 30px;
}
#list_two {
    width:790px;
    padding:0;
}
#upload_one {
    width:1000px;
    padding:0 30px;
}
#upload_two {
    width:600px;
    padding:30px;
    float:left;
}
#detail_one {
    width:550px;
    padding:0 30px;
    float:left;
}
#detail_two {
    width:700px;
    padding-left:50px;
}
#detail_three {
    width:700px;
    padding:30px 50px;
}
#socket_one {
    width:800px;
    padding:0 30px;
    float:left;
}
#socket_two {
    width:1100px;
    padding:30px;
    margin-bottom:20px;
}