body {
    background-color:#2A2D2F;
}

h1 {
    text-align:center;
    padding:80px 0 0 0;
    font-size:3em;
    margin:0;
    color:white;
}

/* 설명 */
#first, #second, #third, #fourth {
    background: linear-gradient(to right, #FAF7C1 580px,white 20px);
    margin:0 auto;
    width:1300px;
    height:720px;
    border-bottom:80px solid #2A2D2F;
}
h2 {
    padding:50px 0 0 0;
    font-size:2em;
}
p {
    font-size:1.2em;
    padding:0 30px 0 0;
    margin:0;
}

/* 이미지 */
#one, #two, #three, #four {
    margin:45px 80px 48PX 35px;
    width:510px;
    height:630px;
    float:left;
}

/* Github*/
#code1 {
    text-align:right;
    margin:45px 40px 0 0;
}
#code2,#code3, #code4 {
    text-align:right;
    margin:20px 40px 0 0;
    padding:0;
}
a {
    font-size:20px;
    font-weight:bold;
    color:black;
    text-decoration:none;
    text-align: 
    padding:0 30px 0 0;
}
#githubImg {
    width:50px;
}