body {
    background-color:#2A2D2F;
}
h1 {
    text-align:center;
    padding:80px 0 0 0;
    font-size:3em;
    margin:0;
    color:white;
}

#detail #detail_main {
    background: linear-gradient(to right, orange 720px,white 20px);
    margin:0 auto;
    width:1300px;
    height:500px;
    border-top:80px solid #2A2D2F;
}
#detail #detail_CRUD {
    background: linear-gradient(to right, orange 720px,white 20px);
    margin:0 auto;
    width:1300px;
    height:500px;
    border-top:80px solid #2A2D2F;
    border-bottom:80px solid #2A2D2F;
}
#detail #detail_socket {
    background: linear-gradient(to right, orange 720px,white 20px);
    margin:0 auto;
    width:1300px;
    height:500px;
    border-bottom:80px solid #2A2D2F;
}

#detail #one {
    margin:50px 120px 50px 58px;
    width:600px;
    height:400px;
    float:left;
}
#detail #two {
    margin:50px 120px 50px 58px;
    width:600px;
    height:400px;
    float:left;
}
#detail #three {
    margin:50px 120px 50PX 58px;
    width:600px;
    height:400px;
    float:left;
}
p {
    padding:30px 40px 0 0;
    font-size:1.3em;
    font-weight:bold;
}
#code1 {
    text-align:right;
    margin:195px 40px 0 0;
}
#code2 {
    text-align:right;
    margin:85px 40px 0 0;
}
#code3 {
    text-align:right;
    margin:215px 40px 0 0;
}
a {
    font-size:20px;
    font-weight:bold;
    color:black;
    text-decoration:none;
    text-align: 
    padding:0 30px 0 0;
}
#githubImg {
    width:50px;
}